html{
    background: #ccddff
}

.box {
    composes: bigBox from './common.css';
    height: 200px;
    width: 200px;
    background: #dfdfdf;
    border-radius: 5px;
    transition: transform 2s;
}
:root {
    --mainColor: red;
}

a {
    color: var(--mainColor);
}
